{% extends 'base.html' %}
{% block title %}Contacts{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="/static/dmrccontact.jpeg" class="d-block w-100 my-4" alt="..." height="450">
</div>

<h2 class="text-center">Contact us</h2>
<div class="centered-form my-3">
    <form method="post">
        {% csrf_token %}

        {{form.as_p}}

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<style>
    /* Center the form */
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        /* This makes sure the container takes up the full viewport height */
    }
</style>
{% endblock body %}